          <%= simple_form_for profile_path do |f| %>
            <div class="form-fields-container">

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :name, placeholder: t(".name"), label: false %>
                  <i class="fa fa-user"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :email,  placeholder: t(".email"), label: false %>
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :phone_number,  placeholder: t(".phone_number"), label: false %>
                  <i class="fa fa-phone"></i>
                </div>
              </div>
              

              <div class="form-field one-third">
                <div class="form-field-container">
                  <div class="radio-input gender-fields">
                    <%= f.collection_radio_buttons :gender, [[0, 'Male'] ,[1, 'Female']], :first, :last, boolean_style: :inline %>
                  </div>
                  <i class="fa fa-venus-mars"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :birth_date,  placeholder: t(".birth_date"), label: false %>
                  <i class="fa fa-building-o"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :age,  placeholder: t(".age"), label: false %>
                  <i class="fa fa-link"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="file" class="inputfile" id="photo" name="photo" placeholder="Photo">
                  <label for="photo" class="inputfile-label">
                    <span>Profile Photo</span>
                    <div class="inputfile-browse">Browse</div>
                  </label>
                </div>
              </div>
              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="text" name="new_password" placeholder="New Password">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <div class="form-field one-third">
                <div class="form-field-container">
                  <input type="text" name="confirm_password" placeholder="Confirm Password">
                  <i class="fa fa-lock"></i>
                </div>
              </div>

              <div class="form-field type-text-area">
                <div class="form-field-container">
                  <textarea name="biography" placeholder="Your biography or company profile (512 characters max)" rows="5"></textarea>
                </div>
              </div>

              <div class="form-field">
                <div class="field-buttons">
                  <button type="submit" class="button hollow wide">SEND</button>
                  <button type="reset" class="button hollow wide">RESET</button>
                </div>
              </div>
            </div>

          <% end %>
