  <div class="content-area-sidebar">
    <div class="sidebar-area">
      <div class="sidebar-section sidebar-profile">
        <%= avatar_tag(current_user, style: :small, size: 70) %>

        <div class="sidebar-profile-data">
          <span class="sidebar-profile-username">
            <%= profile.name %>
          </span>
          <span class="sidebar-profile-company">
            <%= profile.email %>
          </span>
        </div>
      </div>

      <a class="sidebar-section button-icon active" href="#account-settings" data-xtab="">
        <i class="fa fa-cog"></i>
        <%= t(".settings") %>
      </a>

      <a class="sidebar-section button-icon" href="#events" data-xtab="">
        <i class="fa fa-hourglass-3"></i>
        <%= t(".events") %>
      </a>

      <a class="sidebar-section button-icon" href="#bookmarks" data-xtab="">
        <i class="fa fa-heart"></i>
        <%= t(".bookmarks") %>
      </a>

    </div>
  </div>
