  <div class="content-area-sidebar">
    <div class="sidebar-area">
      <div class="sidebar-section sidebar-profile">
        <%= avatar_tag(current_user, 'small', 70) %>

        <div class="sidebar-profile-data">
          <span class="sidebar-profile-username">
            <%= profile.name %>
          </span>
          <span class="sidebar-profile-company">
            <%= profile.email %>
          </span>
        </div>
      </div>

      <a class="sidebar-section button-icon active" href="#account-settings" data-xtab="account-settings">
        <i class="fa fa-cog"></i>
        <%= t(".settings") %>
      </a>

      <a class="sidebar-section button-icon" href="#mailbox" data-xtab="mailbox">
        <i class="fa fa-inbox"></i>
        <%= t(".mailbox") %>
      </a>

      <a class="sidebar-section button-icon" href="#events" data-xtab="events">
        <i class="fa fa-hourglass-3"></i>
        <%= t(".events") %>
      </a>

      <a class="sidebar-section button-icon" href="#bookmarks" data-xtab="bookmarks">
        <i class="fa fa-bookmark"></i>
        <%= t(".bookmarks") %>
      </a>

    </div>

    <% if current_user.admin? %>
      <%= link_to new_event_path, class: "sidebar-section content detail-item" do %>
        <i class="fa fa-plus"></i>
        <div class="detail-item-content"><%= raw t(".admin") %></div>
      <% end %>
    <% else %>
      <%= link_to sign_out_path, method: :delete, class: "sidebar-section content detail-item" do %>
        <i class="fa fa-sign-out"></i>
        <div class="detail-item-content"><%= raw t("shared.footer.sign_out") %></div>
      <% end %>

    <% end %>
  </div>
