<%= content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area" data-xtabs="">
  <%= render "sidebar", profile: @profile %> 
  
  <div class="content-area-main">
    <div data-xtab-content="" id="account-settings" class="active" style="display: block;">
      <%= render "settings", profile: @profile %> 
    </div>

    <div data-xtab-content="" id="events" style="display: none;">
      <%= render partial: "events" %> 
    </div>

    <div data-xtab-content="" id="bookmarks" style="display: none;">
      <%= render partial: "bookmarks" %> 
    </div>

  </div>
</div>
