<%= form_for :session, url: session_path do |form| %>
  <div class="fields-container">

    <div class="fields-row">

      <div class="field full">
        <%= form.text_field :email, type: 'email', placeholder: 'Email' %>
        <i class="fa fa-user"></i>
      </div>

    </div>
    <div class="fields-row">

      <div class="field full">
        <%= form.password_field :password, placeholder: 'Password' %>
        <i class="fa fa-unlock-alt"></i>
      </div>

    </div>

  </div>

  <%= form.submit "Login", class: "form-submit-button button expanded" %>

<% end %>

<div class="helper-text">
  <%= link_to t(".forgot_password"), new_password_path %>
</div>
