<%= form_for User.new do |form| %>
  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="text-field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, type: 'tel' %>
  </div>

  <div class="text-field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>

<form action="#">
  <div class="fields-container">
    
    <div class="fields-row">

      <div class="field full">
        <input type="email" name="name" placeholder="Email">
        <i class="fa fa-user"></i>
      </div>

    </div>
    <div class="fields-row">

      <div class="field full">
        <input type="password" name="password" placeholder="Password">
        <i class="fa fa-unlock-alt"></i>
      </div>

    </div>

  </div>

  <button type="submit" class="form-submit-button button expanded">
    LOGIN
  </button>

</form>
