<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-content">
        <div class="footer-column">
          <h6 class="footer-column-title"><%= t(".plan_events") %></h6>
          <ul class="footer-list">
            <li>
              <%= link_to t(".all_events"), events_path %>
            </li>
            <li>
              <%= link_to t(".popular_events"), events_path(request.params.merge(order_by: "popular").slice(:order_by)) %>
            </li>
            <li>
              <%= link_to t(".latest_events"), events_path(request.params.merge(order_by: "newest").slice(:order_by)) %>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h6 class="footer-column-title"><%= t(".find_events") %></h6>
          <ul class="footer-list">
            <% Location.all.pluck(:city).uniq.last(6).each do |city| %>
              <li>
                <%= link_to "#{city} Events", events_path(request.params.merge(city: city).slice(:city)) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="footer-column">
          <h6 class="footer-column-title"><%= t(".pages") %></h6>
          <ul class="footer-list">
            <li>
              <a href="#">How It Works</a>
            </li>
            <li>
              <a href="#">Terms of Use</a>
            </li>
            <li>
              <a href="#">Contact us</a>
            </li>
            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <h6 class="footer-column-title"><%= t(".account") %></h6>
          <ul class="footer-list">
            <li>
              <%= link_to t(".profile"), edit_profile_path(anchor: "account-settings") %>
            </li>
            <li>
              <%= link_to t(".events"), edit_profile_path(anchor: "events") %>
            </li>
            <li>
              <%= link_to t(".bookmarks"), edit_profile_path(anchor: "bookmarks") %>
            </li>
            <% if current_user && current_user.admin? %>
              <li>
                <%= link_to t(".new_event"), new_event_path %>
              </li>
            <% end %>

            <li>
              <% if signed_in? %>
                <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <h6 class="footer-column-title"><%= t(".connect_with_us") %></h6>

          <div class="footer-social">
            <ul class="footer-social-icons">
              <li class="footer-social-icon">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="footer-social-icon">
                <a href="https://www.twitter.com/" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="footer-social-icon">
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
            <p>
              <%= content_tag(:span, t(".follow_us")) %>
            </div>

          </div>
        </div>

      </div>
    </div>
  </footer>
