  <div class="header-top">
    <div class="header-user-profile">
      <ul href="#" class="header-user-profile-menu" data-dropdown-menu>
        <% if signed_in? %>
          <li>
            <a href="#">
              <%= image_tag(current_user.avatar.url(:thumb), class: "header-user-profile-image") %>
              <span class="header-user-profile-name"><%= current_user.name %></span>

              <span class="header-user-profile-icon fa fa-cog"></span>
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to sign_in_path do %>
              <span class="header-user-profile-icon fa fa-lock"></span>
              <%= content_tag(:span, I18n.t("layouts.application.sign_in"),
                              class: "header-user-profile-name") %>
            <% end %>
          </li>
          <li>
            <%= link_to sign_up_path do %>
              <span class="header-user-profile-icon fa fa-user-plus"></span>
              <%= content_tag(:span, I18n.t("sessions.form.sign_up"),
                              class: "header-user-profile-name") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="container">
      <div class="row">
        <form class="header-search">
          <input type="text" name="q" placeholder="Search events or places" class="header-search-input">
          <button type="submit" class="header-search-button">
            <span class="fa fa-search"></span>
          </button>
        </form>

        <ul class="header-menu">
          <li class="header-menu-item">
            <%= link_to t("application.header.home"), root_path %>
          </li>

          <li class="header-menu-item">
            <%= link_to t("application.header.events"), events_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
