  <div class="content-area-sidebar">
    <div class="sidebar-area">

      <div class="sidebar-section icon-boxes horizontal">
        <div class="icon-box-column">
          <%= link_to request.params.merge(order_by: "popular"), class: "icon-box #{ params[:order_by] == "popular" ? "active" : ""}" do %>
            <div class="icon-box-content">
              <i class="fa fa-bolt"></i>
              <div class="icon-box-label"><%= t("shared.footer.popular_events") %></div>
            </div>
          <% end %>
        </div>

        <div class="icon-box-column">
          <%= link_to request.params.merge(order_by: "newest"), class: "icon-box #{ params[:order_by] == "newest" ? "active" : ""}" do %>
            <div class="icon-box-content">
              <i class="fa fa-bars"></i>
              <div class="icon-box-label"><%= t("shared.footer.latest_events") %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="sidebar-section no-border">
				<%= google_map_iframe('42.667542', '21.155191', zoom: 8) %>
      </div>

      <div class="sidebar-section button">
        Map View
      </div>

      <% if @events.try(:aggs) %>
        <% @events.aggs.each do |agg| %>
          <% if agg.second['buckets'].present? %>
            <div class="sidebar-section content">
              <div class="sidebar-dropdown open">
                <a class="sidebar-dropdown-toggle">
                  <%= agg.first.titleize %>
                  <i class="fa fa-angle-double-down"></i>
                </a>
                <div class="sidebar-dropdown-content">
                  <ul>
                    <% agg.second['buckets'].each do |bucket| %>
                      <li>
                        <%= link_to "#{bucket['key'].titleize} (#{bucket['doc_count']})", request.params.merge(agg.first.to_sym => bucket['key']) %>
                        <% if request.params.has_value?(bucket['key']) %>
                          <%= link_to "x", request.params.except(agg.first) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
