    <div class="content-sections">
      <div class="content-section">
        <div data-xtab-content="" id="event-details" class="active" style="display: block;">
          <h4 class="page-title-heading">
            <%= t(".steps.heading") %>
          </h4>
          <p><%= t(".steps.one") %></p>

          <%= simple_form_for new_event(@event), html: { multipart: true } do |f| %>

            <div class="form-fields-container">
              <div class="form-field full">
                <div class="form-field-container">
                  <%= f.input :title, placeholder: t(".title"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

            <%= f.fields_for :location do |ff| %>
              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= ff.input :address, placeholder: t(".address"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= ff.input :city, placeholder: t(".city"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= ff.input :country, placeholder: t(".country"), label: false, as: :select %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

            <% end %>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :start_date, placeholder: t(".start_date"), label: false, as: :string %>
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :end_date, placeholder: t(".end_date"), label: false, as: :string %>
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field full">
                <div class="form-field-container">
                  <%= f.file_field :image %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field type-text-area">
                <div class="form-field-container">
                  <%= f.input :description, as: :text, placeholder: t(".description"), label: false, input_html: { rows: 5} %>
                </div>
              </div>

              <div class="form-field">
                <div class="field-buttons">
                  <button type="submit" class="button hollow wide">
                    <%= t(".submit") %>
                  </button>
                  <button type="reset" class="button hollow wide">
                    <%= t(".reset") %>
                  </button>
                </div>
              </div>
            </div>

        </div>

        <div data-xtab-content="" id="create-tickets" style="display: none;">
          <h4 class="page-title-heading">
            Create Tickets
          </h4>
          <p><%= t(".steps.two") %></p>
        </div>

        <div data-xtab-content="" id="additional-settings" style="display: none;">
          <h4 class="page-title-heading">
            Additional Settings
          </h4>
          <p><%= t(".steps.three") %></p>

          <div class="form-field full" style="margin-bottom: 0.875rem">
            <label style="padding-bottom: 8px;"><%= t(".listing_privacy") %></label>
            <%= f.collection_radio_buttons :invite_only, [[true, t(".public_page")] ,[false, t(".private_page")]], :first, :last %>
          </div>

          <%= f.fields_for :category do |fff| %>
            <div class="form-field full">
              <label style="padding-bottom: 8px;"><%= t(".event_type") %></label>

              <div class="form-field-container">
                <%= fff.select :name, Category.all.map(&:name), include_blank: false %>
                <i class="fa fa-at"></i>
                <p><%= t(".category_hint") %></p>
              </div>
            </div>

          <% end %>

          <%= f.fields_for :organizer do |ffff| %>
            <div class="form-field full" style="padding-top: 20px;">
              <div class="form-field-container">
                <%= ffff.input :name, label: false, placeholder: t(".organizer_name"), as: :string %>
                <i class="fa fa-at"></i>
              </div>
            </div>

            <div class="form-field type-text-area">
              <div class="form-field-container">
                <%= ffff.input :description, as: :text, placeholder: t(".organizer_description"), label: false, input_html: { rows: 5} %>
              </div>
            </div>

            <div class="form-field">
              <div class="field-buttons">
                <button type="submit" class="button hollow wide">
                  <%= t(".submit") %>
                </button>
                <button type="reset" class="button hollow wide">
                  <%= t(".reset") %>
                </button>
              </div>
            </div>


          <% end %>

        <% end %>
        </div>
      </div>
    </div>
