    <div class="content-sections">
      <div class="content-section">
        <div data-xtab-content="" id="event-details" class="active" style="display: block;">
          <h4 class="page-title-heading">
            Event Details
          </h4>
          <p>Tips for Step 1: Event Details</p>

          <%= simple_form_for @event, html: { multipart: true } do |f| %>
            <div class="form-fields-container">
              <div class="form-field full">
                <div class="form-field-container">
                  <%= f.input :title, placeholder: t(".title"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :address_1, placeholder: t(".address_1"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :address_2, placeholder: t(".address_2"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :city, placeholder: t(".city"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :country, placeholder: t(".country"), label: false, as: :select %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field one-third">
                <div class="form-field-container">
                  <%= f.input :postal_code, placeholder: t(".postal_code"), label: false %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :start_date, placeholder: t(".start_date"), label: false, as: :string %>
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field medium-6">
                <div class="form-field-container">
                  <%= f.input :end_date, placeholder: t(".end_date"), label: false, as: :string %>
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div class="form-field full">
                <div class="form-field-container">
                  <%= f.file_field :image %>
                  <i class="fa fa-at"></i>
                </div>
              </div>

              <div class="form-field type-text-area">
                <div class="form-field-container">
                  <%= f.input :description, as: :text, placeholder: t(".description"), label: false, input_html: { rows: 5} %>
                </div>
              </div>

              <div class="form-field">
                <div class="field-buttons">
                  <button type="submit" class="button hollow wide">Save</button>
                  <button type="reset" class="button hollow wide">Reset</button>
                </div>
              </div>
            </div>

          <% end %>
        </div>

        <div data-xtab-content="" id="create-tickets" style="display: none;">
          <h4 class="page-title-heading">
            Create Tickets
          </h4>
          <p>Tips for Step 2: Create Tickets</p>
        </div>

        <div data-xtab-content="" id="additional-settings" style="display: none;">
          <h4 class="page-title-heading">
            Additional Settings
          </h4>
          <p>Tips for Step 3: Additional Settings</p>
        </div>
      </div>
    </div>
