    <div class="events-list-item">
      <%= link_to event_path(event) do %>
        <span class="events-list-item-image" style="background-image: url(<%= event.image.url(:list) %>" />
      <% end %>

      <div class="events-list-item-details">
        <%= price_tag(event.ticket_class) %>

        <div class="events-list-item-date">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <%= EventDecorator.new(event).formatted_date %>
        </div>

        <h4 class="events-list-item-title">
          <%= link_to event.title, event_path(event) %>
        </h4>

        <div class="events-list-item-content">
          <%= event.description %>
        </div>

        <div class="events-list-item-footer">
          <ul class="events-list-item-tags">
            <li><%= link_to_tag(event.category.name) %></li>
            <li><%= link_to_tag(event.location.city) %></li>
            <li><%= link_to_tag(event.ticket_class) %></li>
          </ul>

          <div class="events-list-item-actions">
            <a href="#">
              <i class="fa fa-heart"></i>
              Fav It
            </a>
            <a href="#">
              <i class="fa fa-share"></i>
              Share
            </a>
          </div>

        </div>

      </div>
    </div>
