        <div class="event-organizer">
          <div class="event-organizer-image">
            <%= image_tag("event-organizer.png") %>
          </div>
          <div class="event-organizer-details">
            <h6 class="event-organizer-title purple-heading"><%= @event.organizer.name %></h6>

            <div class="event-organizer-social">
              <%= social_button_tag("Facebook", @event.organizer.facebook) %>
              <%= social_button_tag("Twitter", @event.organizer.twitter) %>
              <%= social_button_tag("Instagram", @event.organizer.instagram) %>
            </div>

            <div class="event-organizer-content">
              <p><%= @event.organizer.description %></p>
            </div>
          </div>
        </div>

      </div>
