        <div class="event-organizer">
          <div class="event-organizer-short-desc">
            <h6 class="event-organizer-title purple-heading-alternative">
              <%= @event.organizer.name %>
            </h6>
            <p class="event-organizer-title">
              <%= @event.organizer_info %>
            </p>
          </div>

          <div class="event-organizer-details">
            <div class="event-organizer-social">
              <%= social_button_tag("Facebook", @event.organizer.facebook) %>
              <%= social_button_tag("Twitter", @event.organizer.twitter) %>
              <%= social_button_tag("Instagram", @event.organizer.instagram) %>
            </div>

            <div class="event-organizer-content">
              <p><%= @event.organizer.description %></p>
            </div>
          </div>
        </div>

      </div>
