<%= content_for :jumbotron do %>
  <%= raw t(".header") %>
<% end %>

<div class="content-area">
  <%= render partial: "filters" %> 

  <div class="content-area-main">
    <div class="events-list">
      <%= render "events", collection: @events %>
      
      <%= paginate @events %>
    </div>
  </div>

</div>
