
<%= render "header", collection: @event %>

<div class="content-area">

  <%= render "sidebar" %>

  <div class="content-area-main">
    <div class="content-sections">
      <div class="content-section">
        <p><%= @event.description %></p>
      </div>

      <div class="content-section">
        <%= render "organizer", collection: @event %>

      <div class="content-section">
        <%= render "message", locals: {event: @event } %>
      </div>
    </div>

  </div>
</div>
